/*
// medium to large windows //
*/

@media only screen and (max-device-width: 1200px), screen and (max-width: 1200px) {
  #english {
    font-family: 'Montserrat', sans-serif;
  }
  .services_container {
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    float: none;
  }
  .logo-wrapper {
    position: relative;
    text-align: center;
  }
  #small-logo {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 90px;
  }
  nav {
    float: none;
    text-align: center;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border: none;
  }
  .about ul li {
    list-style: none;
  }
  .doctor img {
    width: 100px;
    height: 100px;
    float: none;
    margin-top: 50px;
  }
  .doc-wrapper {
    text-align: center;
  }
  .doctor h2 {
    float: none;
  }
  .contact-header {
    text-align: center;
    margin-top: 50px;
  }
  .map-address {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 100px
  }
  .address-one, .address-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    text-align: right
  }
  .address-two {
    margin-top: 0px;
  }
  #map, #mapTwo {
    width: 100%;
    height: 360px
  }
  .contact i {
    float: none;
  }
  #title {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    margin-top: 100px;
  }

  .mySlides img {
    width: 100%;
    height: 300px;
  }



}
/* --------------------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------------------------------------------------------------------------------------- */

/*
// Small windows to medium //
*/

@media only screen and (max-device-width: 820px), screen and (max-width: 820px) {
  body {
    /* color: var(--main-text-color); */
    /* font-size: 4vw; */
  }
  #odd, #even {
    padding:0 0 50px 0;
  }
  .layout {
    padding: 5px 0px;
  }
  .layout-mob {
    padding: 0 10px;
  }
  #underlined {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  header {
    position: relative;
    text-align: center;
  }
  .logo {
    float: none;
  }
  .logo-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  #small-logo {
    position: relative;
    top: 0;
    left: 0;
  }
  #title {
    display: none;
  }
  nav {
    display: block;
    float: none;
    position: relative;
  }
  nav ul {
    display: block;
  }
  nav li {
    display: block;
    line-height: 40px;
  }
  #promotion {
    display: block;
    color: white;
    padding: 0 5px;
  }
  .social-media {
    display: block;
    position: relative;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
    top: 0;
    -webkit-transform: none;
    transform: none;
    padding: 0 0;
    margin-top: 50px;
  }
  .social-media li {
    padding: 0;
    display: inline-block;
    margin: 0 50px;
  }
  .sticky .mob-bar {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .sticky .mob-bar .mob-logo {
    display: inline;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
  }
  .sticky .mob-bar .mobile-nav-icon {
    display: block;
    text-align: right;
    padding: 10px;
  }
  .sticky ul li {
  }
  .sticky .mob-bar .mobile-nav-icon i {
    position: absolute;
    right: 2%;
    cursor: pointer;
  }
  .sticky ul {
    display: none;
  }
  .mob-bar a:hover, .mob-bar a:active, .mob-bar a:visited {
    border: 0
  }
  .services_container {
    grid-gap: 5px;

  }
  .pac {
    display: none;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 0px 0px;
  }
  .footerMenu, .footerAddress, .footerSocialMedia, .footerContact {
    padding: 10px;
  }
  .footerMenu {
    background-color: rgba(111, 111, 111, 0.8);
  }
  .footerSocialMedia {
    background-color: rgba(111, 111, 111, 0.1);
  }
  .footerContact {
    background-color: rgba(111, 111, 111, 0.8);
  }
  .footerAddress {
    background-color: rgba(111, 111, 111, 0.1);
  }
  footer li {
    display: inline-block;
    margin: 20px 20px;
  }
  .ligalstuff {
    color: var(--main-text-color);
    padding: 2px 2px;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------------------------------------------------------------------------------------- */

/*Only Mobile phones*/

@media only screen and (max-device-width: 650px) {
  body {
    color: black;
  }
  header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.8))), url(/css/css-images/bg2.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(/css/css-images/bg2.jpg);
    background-size: cover;
    background-position: center;
  }
  .logo-wrapper {
    margin-top: 10px;
  }
  #big-logo {
    font-size: 200%;
  }
  #small-logo {
  }
  #mobile-list-item {
    line-height: 50px;
  }
  #promotion {
    margin-bottom: 0px;
    font-size: 50%;
  }
  .social-media {
    padding: 0 0;
    margin-top: 50px;
  }
  .social-media i {
  }
  .sticky .mob-bar .mob-logo {
    padding: 5px;
  }
  .sticky .mob-bar .mobile-nav-icon {
    padding: 5px;
  }
  .sticky ul li {
    line-height: 100px;
  }
  .social-media {
  }
  .social-media a:hover, .social-media {
    color: white;
    -webkit-transition: none;
    transition: none
  }
  nav a:hover {
    border-bottom: transparent 2px solid;
    border-bottom: none;
    -webkit-transition: none;
    transition: none;
  }
  .fliper_tel {
    line-height: 40px;
  }

  #long-text {

  }

  .card .back {
    padding: 2px;
    background: var(--secondry-color);
    color: var(--even-section);
    border: 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
  }

  .mythis span {
  }
  #certificates a,#certificates a:link, #certificates a:visited{
    color: var(--secondry-color);
  }
  #certificates a:hover, #certificates a:active{
    color: var(--secondry-color);


    -webkit-transition: none;


    transition: none;
  }
  .footerMenu, .footerAddress, .footerSocialMedia, .footerContact {
    padding-top: 30px;
  }
  footer a:hover, footer a:visited, footer a:link, footer a:active {
    color: white;
  }
  footer div span i {
    margin-bottom: 5px;
    color: var(--odd-section)
  }
  footer ul {
    margin-top: 20px;
  }
  footer ol {
    margin-top: 20px;
  }
  footer li {
  }
  .ligalstuff a, .ligalstuff a:hover, .ligalstuff a:active, .ligalstuff a:visited {
    color: green;
  }
  #reza {
    color: green;
  }
  .service-wrapper {
    display: grid;
    grid-template-rows: 125px auto;
  }
  .service-wrapper img {
    width: 100%;
    height: 125px
  }

  .service-wrapper #underlined{
    margin: 7px 0;
  }


}
